{% extends 'main/base.html' %}
{% load static %}

{% block contentTitle %}
    Doctor's Patients
{% endblock contentTitle %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="https://cdn3.vectorstock.com/i/thumb-large/35/22/letter-h-cross-plus-logo-icon-design-template-vector-24613522.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Dr Ramesh Thareja</span><span class="text-black-50">Specialist</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>1. Shreyas More</h6>
                <div class="d-flex justify-content-between install mt-3"><span>Check Out More</span><span class="text-primary"><a href="#">Open</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="https://cdn3.vectorstock.com/i/thumb-large/35/22/letter-h-cross-plus-logo-icon-design-template-vector-24613522.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Dr Arti Despande
                    </span><span class="text-black-50">Specialist</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>1. Jay Bhavsar</h6>
                
                <div class="d-flex justify-content-between install mt-3"><span>Check Out More</span><span class="text-primary"><a href="#">Open</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="https://cdn3.vectorstock.com/i/thumb-large/35/22/letter-h-cross-plus-logo-icon-design-template-vector-24613522.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Dr GT Thampi
                    </span><span class="text-black-50">Specialist</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>1. Shreyas Jadhav</h6>
                <div class="d-flex justify-content-between install mt-3"><span>Check Out More</span><span class="text-primary"><a href="#">Open</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="https://cdn3.vectorstock.com/i/thumb-large/35/22/letter-h-cross-plus-logo-icon-design-template-vector-24613522.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Dr Harshad Mehta
                    </span><span class="text-black-50">Specialist</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>1. Prakash</h6>
                <div class="d-flex justify-content-between install mt-3"><span>Check Out More</span><span class="text-primary"><a href="#">Open</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="https://cdn3.vectorstock.com/i/thumb-large/35/22/letter-h-cross-plus-logo-icon-design-template-vector-24613522.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Dr. Ravi
                    </span><span class="text-black-50">Specialist</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>1. Sundar</h6>
               
                <div class="d-flex justify-content-between install mt-3"><span>Check Out More</span><span class="text-primary"><a href="#">Open</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3"><img src="https://cdn3.vectorstock.com/i/thumb-large/35/22/letter-h-cross-plus-logo-icon-design-template-vector-24613522.jpg" width="70">
                    <div class="d-flex flex-column ml-2"><span>Dr. Kumar
                    </span><span class="text-black-50">Specialist</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>
                <h6>1. Shyam Kumar</h6>
                <div class="d-flex justify-content-between install mt-3"><span>Check Out More</span><span class="text-primary"><a href="#">Open</a><i class="fa fa-angle-right"></i></span></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}